<%# /app/views/pages/cards/_card.html.erb %>

<div class="card">
    <h3>This is the _card partial</h3>

    <%= render '/pages/cards/card_image', image: img_hash["image"] %>
    <%= render '/pages/cards/card_name', name: img_hash["name"] %>
    <%= render '/pages/cards/card_artist', artist: img_hash["artist"] %>
</div>