<%# /app/views/pages/mtg.html.erb %>

<h1>Pages#mtg</h1>
<p>Find me in app/views/pages/mtg.html.erb</p>

<h2>Let's add some Magic: the Gathering card art!</h2>

<%# the ERB below explicitly requires the `partial:` syntax for the `collection:` alias to work...%>
<div class="card_container">
    <%= render partial: '/pages/cards/card', collection: session[:img_array], as: :img_hash %>
</div>

<div class="refresh_form">
    <%= render '/pages/forms/refresh_button' %>
    <%= render '/pages/forms/refresh_counter', counter: @refresh_counter %>
</div>